*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font: 62.5% / 1.15 sans-serif;
  text-align: center;
}

body {
  margin: 0 auto;
  height: 100vh;
  padding: 1.5em;
}

button {
  border: none;
  margin: 0;
  width: auto;
}

input[type='text'] {
  width: 350px;
  height: 100px;
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 2em;
}

.app-container {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 1.25em;
  width: 350px;
}

.todo-todo-container {
  display: Flex;
  align-items: center;
  justify-content: flex-start;
}

.todo-btn-container {
  display: flex;
  align-self: flex-end;
}

.todo-btn-container > button {
  width: 65px;
  text-align: center;
  margin-left: 1em;
  padding: 0.5em 1em;
}

.strikethrough {
  text-decoration: line-through;
}

.filters-btn-container {
  margin: 2em auto;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.filters-btn-container > button {
  font-size: 1.5em;
  min-width: 100px;
  padding: 0.5em 1em;
}

.edit-box {
  width: 125px;
  max-height: 30px;
  font-size: 1em;
  margin-left: -0.2em;
  border: none;
}

.new-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-task > button {
  margin-top: 1em;
  width: 350px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  background-color: black;
  color: white;
}
