*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font: 62.5% / 1.15 sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  padding: 1.5em;
  text-align: center;
}

button {
  border: none;
  margin: 0;
  width: auto;
}

input[type='text'] {
  border: 2px solid black;
  width: 60%;
  height: 100px;
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 2em;
}

.todo-item {
  display: Flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  margin: 2em 3em;
}

.todo-todo-container {
  display: Flex;
  align-items: center;
  justify-content: flex-start;
}

.todo-btn-container > button {
  width: 65px;
  text-align: center;
  margin-right: 1em;
  padding: 0.5em 1em;
}

.strikethrough {
  text-decoration: line-through;
}

.filters-btn-container {
  margin: 2em auto;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-around;
}
.filters-btn-container > button {
  font-size: 1.5em;
  width: 100px;
  padding: 0.5em 1em;
}
