*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font: 62.5% / 1.15 sans-serif;
}

body {
  margin: 0;
  border: 1px solid red;
  height: 100vh;
  padding: 1.5em;
  text-align: center;
}

button {
  border: none;
  margin: 0;
  width: auto;
}

input {
  border: 2px solid black;
  width: 60%;
  height: 100px;
}

.todo-item {
  display: Flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 8em;
  font-size: 1.5em;
}

.todo-btn-container > button {
  width: 65px;
  text-align: center;
  margin-right: 1em;
  padding: 0.5em 1em;
}
